* {
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid darkred;
}

div {
    margin: 3px;
    padding: 3px;
}

input[type=button] {
    background-color: #d34817;
    color: white;
    cursor: pointer;
}

div.h900 {
    height: 900px;
}

.w100p {
    width: 100%;
}

div.mw900 {
    max-width: 900px;
}

div.w50p {
    width: 50%;
}

div.column {
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.align-stretch {
    align-items: stretch;
}

div.justify-sb {
    justify-content: space-between;
}

div.justify-center {
    justify-content: center;
}


div.w400 {
    width: 400px;
}

div.w700 {
    width: 700px;
}

div.border {
    border: 1px solid darkred;
}

input.big[type=text], input.big[type=password] {
    height: 30px;
    font-size: 18px;
    text-align: center;
}

input.big[type=button] {
    height: 40px;
    width: 190px;
    font-size: 18px;
    text-align: center;
}

p.small {
    font-size: 11px;
}

.margin-left-auto {
    margin-left: auto;
}

.align-self-start {
    align-self: flex-start;
}